html, body {
    max-width: 100%;
    overflow-x: hidden;
 
}


@media screen and (max-width: 1250px){

  .browse{
  min-width: 16%;
}
  
}
@media screen and (max-width: 900px){

 
  
  

}
@media screen and (max-width: 800px){
.browse{
  min-width: 24%;
}


#example-check{
  width: 70px;
  height: 25px;
 position: relative;
 bottom: 1px;
 left: 250px
}
  

}
@media screen and (max-width: 650px){

  .browse{
  min-width: 20%;
}.verify{
  min-width: 50%;
}
  

}

@media screen and (max-width: 500px){

  .verify{
  min-width: 40%;
}
  

}

.buisness-info{
  font-family: 'Varela Round', sans-serif;
  color: white;
  background-color: #004a88;
  border: none;
  text-align: center;
  height: 65px;
 
  padding:2px 0;
}
.contact-body{
  margin:0;
}
.form-fields{
  margin-bottom: 18px;
}
.contact-details{
  color: #004a88;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size:20px;
}
.b_name1{
 
text-indent: 10px;



}

input[type=radio] {
    border: 0px;
    width: 30%;
    height: 2em;
}
.b_name2{
 
text-indent: 10px;

}
.b_name3{
  
text-indent: 10px;

}
.radio-inline{
  margin-right:101px;
}
.typeofbis{
  font-weight: 400;
  margin-right: 140px;
}

#example-check{
  width: 80px;
  height: 28px;
 position: absolute;
 bottom: 1px;
 left: 290px
}


.img-upload-btn { 
    position: relative; 
    overflow: hidden; 
    padding-top: 95%;
} 
.label {

    white-space: normal;

    margin-left: 30px !important;

    text-indent: 0px !important;

}
.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 

.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.uploadbtn{
  background-image:linear-gradient(#95ccfa,#004a88);
  border-radius: 4px;
}

.uploadfile{
position: relative;
  overflow: hidden;
  padding: 2px,0;

}
.inputfile{
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

